streamlit==1.31.1
snowflake-ml-python==1.8.1
snowflake-snowpark-python
snowflake-connector-python
pandas
python-dotenv
requests
beautifulsoup4
PyMuPDF
PyPDF2
pdfplumber
faiss-cpu
sentence-transformers>=2.6.0
torch==2.2.1
transformers==4.40.0
numpy
langchain==0.1.16
langsmith==0.1.18
langchain-core==0.1.45
langchain-community==0.0.36
langchain-text-splitters==0.0.10
safetensors
accelerate
bitsandbytes
pydantic==1.10.13
