streamlit==1.31.1
snowflake-ml-python==1.8.1
snowflake-snowpark-python
snowflake-connector-python
pandas
python-dotenv
requests
beautifulsoup4
PyMuPDF
PyPDF2
pdfplumber
faiss-cpu
sentence-transformers==2.5.1
torch==2.1.2
transformers==4.35.2
numpy
langchain
langchain-community